@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.bg-img-nsp {
  background: url("images/background_blue.jpg") center center;
  background-size: cover;
}

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$navbar-background-color: #132853;
$navbar-item-color: white;
$navbar-hover-color: #6b59ef;
$navbar-burger-color: white;
$navbar-divider-background-color: white;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

